<module>
	<rawname>callrecording</rawname>
	<repo>standard</repo>
	<name>Call Recording</name>
	<version>2.11.0.10</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Applications</category>
    <embedcategory>Inbound Call Control</embedcategory>
	<description>
		Provides much of the call recording functionality.
	</description>
	<menuitems>
		<callrecording>Call Recording</callrecording>
	</menuitems>
 	<popovers>
		<callrecording>
			<display>callrecording</display>
		</callrecording>
 	</popovers>
	<changelog>
		*2.11.0.10* Embed in Issabel Menu
		*2.11.0.9* Initial Issabel Foundation release
	</changelog>
	<supported>
		<version>2.11</version>
	</supported>
	<location>release/2.11/callrecording-2.11.0.4.tgz</location>
	<md5sum>7a01f5f79297c4162c5b3bf711ef1ec3</md5sum>
</module>
