<module>
    <rawname>dialplaninjection</rawname>
    <name>Dialplan Injection</name>
    <version>0.1.1n</version>
    <type>setup</type>
    <publisher>POSSA</publisher>
    <category>Advanced</category>
    <embedcategory>Advanced</embedcategory>
    <description>Acts as a dialplan destination and can execute a variety of Asterisk commands</description>
    <menuitems>
        <dialplaninjection>Dialplan Injection</dialplaninjection>
    </menuitems>
        <depends>
                <module>core</module>
        </depends>
        <changelog>
            Lorne Gaetz: Initial commit
    </changelog>
    <attention>
        This is an advanced module, and you should not use it without understanding asterisk dialplans!
        This is meant as a convenience tool for someone who would have had to resort to config editing.
        If you experience problems with it, just disable it and no harm done.
    </attention>
</module>
