<module>
	<rawname>bulkdids</rawname>
	<repo>extended</repo>
	<name>Bulk DIDs</name>
	<description>Bulk DIDs uses CSV files to import bulk DIDs with a destination.</description>
	<version>2.11.1.4</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<menuitems>
		<bulkdids>Bulk DIDs</bulkdids>
	</menuitems>
	<depends>
		<version>ge2.10alpha0</version>
	</depends>
	<location>release/2.11/bulkdids-2.11.0.0.tgz</location>
	<info/>
	<changelog>
		*2.11.1.4* Initial Issabel Foundation release
	</changelog>
	<supported>
		<version>2.10</version>
	</supported>
	<md5sum>b37d02df3a974cea0181fffe2aa0edd0</md5sum>
</module>
