
div.dialpatterns {
	max-height: 15em; 
	max-width: 100%; 
	width: 500px;
	overflow: auto; 
	border: 1px solid #CCCCCC;
}
#pattern_file {
	display: none;
}
.save, .adv_set_default{border-style: none;}
.savetd, .save{display:none;}

.js-copybtn {
  font-size: 175%;
  padding-top: 00px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
  cursor:pointer;
}

