div.dialpatterns {
  max-height: 15em;
  max-width: 100%;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#pattern_file {
  display: none;
}

.btnwidth { width: 2.5em; }

.save, .adv_set_default{border-style: none;}

.save{display:none;}

.js-copybtn {
  font-size: 1.5em;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  margin: 0px;
  cursor:pointer;
}

.columns.trsearch {
    border-bottom:1px solid rgb(218,218,230);
}
