<module>
	<rawname>javassh</rawname>
	<repo>extended</repo>
	<name>Java SSH</name>
	<version>2.11.2</version>
	<publisher>Issabel Foundation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>Provides a Java applet to access the system shell using SSH.</description>
	<menuitems>
		<javassh>Java SSH</javassh>
	</menuitems>
	<changelog>
		*2.11.2* Initial Issabel Foundation release
	</changelog>
  <location></location>
  <md5sum></md5sum>
  <supported>
    <version>2.10</version>
  </supported>
</module>
