<module>
	<rawname>voicemail</rawname>
	<repo>standard</repo>
	<name>Voicemail</name>
	<version>2.11.1.7</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<changelog>
        *2.11.1.7* Rebranding
		*2.11.1.6* Initial Issabel Foundation release
	</changelog>
	<description>This module allows you to configure Voicemail for a user or extension</description>
    <category>Settings</category>
    <embedcategory>Advanced</embedcategory>
	<menuitems>
		<voicemail>Voicemail Admin</voicemail>
	</menuitems>
	<depends>
        <version>2.5.0alpha1</version>
        <module>framework ge 2.11.0.47</module>
	</depends>
	<supported>
		<version>2.11.0</version>
	</supported>
	<location></location>
    <md5sum></md5sum>
</module>
