<module>
	<rawname>callback</rawname>
	<repo>extended</repo>
	<name>Callback</name>
	<version>2.11.0.4</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <category>Applications</category>
    <embedcategory>Remote Access</embedcategory>
	<menuitems>
		<callback>Callback</callback>
	</menuitems>
	<popovers>
		<callback>
			<display>callback</display>
		</callback>
 	</popovers>
	<changelog>
		*2.11.0.4* Initial Issabel Foundation release
	</changelog>
	<depends>
		<version>2.4.0</version>
	</depends>
	<supported>
		<version>2.10</version>
	</supported>
	<location>release/2.11/callback-2.11.0.0.tgz</location>
	<md5sum>27e82a42a2d657a9a459d9e366c71747</md5sum>
</module>
