<module>
    <rawname>hotelwakeup</rawname>
    <name>Wake Up Calls</name>
    <repo>standard</repo>
    <version>2.12.0</version>
    <license>GPLv2</license>
    <publisher>POSSA</publisher>
    <category>Applications</category>
        <description>IssabelPBX module for generating reminder and wakeup calls</description>
    <info>https://github.com/POSSA/Hotel-Style-Wakeup-Calls</info>
    <changelog>
         *2.12.0.0* Newer GUI, standarize module components
         *2.11.3* Initial Issabel Foundation release
    </changelog>
    <menuitems>
        <hotelwakeup>Wake Up Calls</hotelwakeup>
    </menuitems>
    <depends>
        <module>ivr gt1.0</module>
        <version>ge 2.9</version>
        <engine>asterisk 1.2</engine>
    </depends>
    <supported>
        <version>2.12</version>
    </supported>
    <location>release/2.12/hotelwakeup-2.12.0.tgz</location>
</module>
