<module>
	<rawname>fw_fop</rawname>
	<repo>unsupported</repo>
	<name>IssabelPBX FOP Framework</name>
	<version>2.10.0.3</version>
	<publisher>IssabelPBX</publisher>
	<license>GPLv2+</license>
	<menuitems>
		<fw_fop href="modules/fw_fop/" target="_fop" access="all">FOP Panel</fw_fop>
	</menuitems>
	<changelog>
		*2.10.0.3* #5818
		*2.10.0.2* #5496
		*2.10.0.1* fix for fw_fop_parse_zapata
		*2.10.0.0* upgrade xml info, category, support info
		*2.10.0beta2.0* moving FOP to full module
		*2.10.0beta1.0* beta1 release, see svn log
		*2.9.0.1* #4401, #4914, #4404 
		*2.9.0.0* 2.9 Update
	</changelog>
	<description>
		This module provides the original FOP (Flash Operator Panel) which is known to have issues on Asterisk 1.8 and is no longer supported in favor of FOP2.
	</description>
	<category>Admin</category>
	<depends>
		<version>2.9.0beta2</version>
	</depends>
	<location>release/2.11/fw_fop-2.10.0.3.tgz</location>
	<md5sum>d85ac3c81b1a1797c78380413a23f319</md5sum>
</module>
