<!--
<div class="rnav">
    <ul id="schemeorder_list" >
        <li id="add_new"><a href="config.php?display=superfecta&amp;scheme=new">Add Caller ID Scheme</a></li>
        {loop="schemes"}<li id="scheme_{$value.source}">
            <img id="scheme_{$value.source}_power" onclick="power_scheme(this.id);" class="superfecta_schemes button is-small" src="assets/superfecta/images/{if condition="$value.powered === TRUE"}on{else}off{/if}.gif" alt="On/Off" title="Turn this scheme on and off" />
                 <img id="scheme_{$value.source}_movedown" class="superfecta_schemes button is-small" onclick="movedown_scheme(this.id);" src="images/scrolldown.gif" alt="Down Arrow" title="Move Down List" {if condition="$value.showdown === FALSE"}hidden{/if}/>
                 <img id="scheme_{$value.source}_moveup" class="superfecta_schemes button is-small" onclick="moveup_scheme(this.id);" src="images/scrollup.gif" alt="Up Arrow" title="Move Up List" {if condition="$value.showup === FALSE"}hidden{/if}/>
                 <img id="scheme_{$value.source}_dupilcate" class="superfecta_schemes button is-small" src="assets/superfecta/images/copy.gif" alt="Duplicate Scheme" title="Duplicate Scheme" />
            <img id="scheme_{$value.source}_delete" class="superfecta_schemes button is-small" onclick="delete_scheme(this.id);" src="assets/superfecta/images/delete.gif" alt="Delete Button" title="Delete Scheme" />
            <a onclick="window.location.href='config.php?display=superfecta&amp;scheme={$value.source}';" style="cursor:pointer;">{$value.name}</a>
        </li>{/loop}
    </ul>
</div>
-->
<div class='content'>
    <div class='is-flex'><h2>{$title}</h2><div class="infohelp">?<span style="display:none;">{function="_('CallerID Superfecta for IssabelPBX is a utility program which adds incoming CallerID name lookups to your Asterisk system using multiple data sources.')"}</span></div></div>
