<module>
	<rawname>logfiles</rawname>
	<repo>standard</repo>
	<name>Asterisk Logfiles</name>
	<canuninstall>no</canuninstall>
	<version>2.11.1.4</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<changelog>
        *2.11.1.4* Rebranding
		*2.11.1.3* Initial Issabel Foundation release
	</changelog>
	<category>Reports</category>
	<embedcategory>Advanced</embedcategory>
	<menuitems>
		<logfiles>Asterisk Logfiles</logfiles>
		<logfiles_settings category="Settings">Asterisk Logfile Settings</logfiles_settings>
	</menuitems>
	<supported>
		<version>2.11.0</version>
    </supported>
    <depends>
       <module>framework ge 2.11.0.47</module>
    </depends>
	<location></location>
	<md5sum></md5sum>
</module>
