<module>
    <rawname>miscapps</rawname>
    <repo>extended</repo>
    <name>Misc Applications</name>
    <version>2.11.0.2</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <category>Applications</category>
    <embedcategory>Internal Options &amp; Configuration</embedcategory>
    <description>
		Adds the ability to create feature codes that can go to any IssabelPBX destination (such as an IVR or queue)
	</description>
    <menuitems>
        <miscapps>Misc Applications</miscapps>
    </menuitems>
    <changelog>
  		*2.11.0.2* Initial Issabel Foundation release
	</changelog>
    <depends>
        <version>2.4.0</version>
    </depends>
    <location>release/2.11/miscapps-2.11.0.0.tgz</location>
    <md5sum>b288e7c7bc4c9f2213cd470f4d9c3791</md5sum>
    <supported>
        <version>2.10</version>
    </supported>
</module>
