<module>
	<rawname>asternic</rawname>
	<name>Asternic</name>
	<version>2.11.0.0</version>
	<repo>unsupported</repo>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Settings</category>
	<description>A module for Asternic Call Center Stats PRO, that allows you to set if IVR selections should be logged to the queue logs.</description>
	<depends>
		<module>ivr ge 2.11.0.1</module>
		<version>2.11.0alpha1</version>
		<phpversion>5.3.0</phpversion>
	</depends>
	<menuitems>
		<asternic>Asternic</asternic>
	</menuitems>
	<changelog>
		*2.11.0.0* Initial Issabel Foundation release
	</changelog>
	<supported>
		<version>2.11</version>
	</supported>
	<location>release/2.11/asternic-2.11.0.0.tgz</location>
	<md5sum>241405bdd47b1c4f5f53cfd8f2cc72d1</md5sum>
</module>
