<module>
  <rawname>printextensions</rawname>
  <repo>standard</repo>
  <name>Print Extensions</name>
  <version>2.11.0.2</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Reports</category>
  <description>Creates a printable list of extension numbers used throughout the system from all modules that provide an internal callable number</description>
  <menuitems>
    <printextensions>Print Extensions</printextensions>
  </menuitems>
	<changelog>
		*2.11.0.2* Initial Issabel Foundation release
	</changelog>
  <location>release/2.11/printextensions-2.11.0.0.tgz</location>
  <md5sum>86a1a93e8a7a13affa3ae858a6c18c29</md5sum>
  <supported>
    <version>2.10</version>
  </supported>
</module>
