<module>
    <rawname>asternicivr</rawname>
    <name>Asternic IVR</name>
    <version>1.0</version>
    <repo>unsupported</repo>
    <publisher>Asternic</publisher>
    <license>GPLv3+</license>
    <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <category>Settings</category>
    <description>This module adds an option in Advanced Settings for storing IVR selected options in the queue URL variable (QURL channel variable). That information can be reported using Asternic Call Center Stats PRO by means of the URL plugin.</description>
    <depends>
        <module>ivr ge 2.11.0.1</module>
        <version>2.11.0alpha1</version>
        <phpversion>5.3.0</phpversion>
    </depends>
    <changelog>
        *1.0* Initial release
    </changelog>
    <supported>
        <version>2.11</version>
    </supported>
    <location>release/2.11/asternic-2.11.0.0.tgz</location>
        <md5sum>0</md5sum>
</module>
