<module>
        <rawname>setcid</rawname>
        <repo>standard</repo>
        <name>Set CallerID</name>
        <version>2.11.1.0</version>
        <category>Applications</category>
        <embedcategory>Inbound Call Control</embedcategory>
        <publisher>Issabel Foundation</publisher>
        <license>GPLv3+</license>
        <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
        <description>
                Adds the ability to change the CallerID within a call flow.
        </description>
        <menuitems>
                <setcid>Set CallerID</setcid>
        </menuitems>
        <changelog>
                *2.11.1.0* Add custom Variables support
                *2.11.0.4* Initial Issabel Foundation release
        </changelog>
        <depends>
                <version>2.5.0</version>
        </depends>
        <supported>
                <version>2.10</version>
        </supported>
        <location>release/2.11/setcid-2.11.1.0.tgz</location>
        <md5sum>97c4ecdafb9b1d4deaf792f05420545f</md5sum>
</module>
