label.is-checkbox {
  background: #3273dc;
  border: 1px solid transparent;
  color: white;
  text-align: center;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  padding: calc(0.375em - 1px) 0.75em;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.is-checkbox.is-primary {
  background: #00d1b2;
}
label.is-checkbox.is-info {
  background: #209cee;
}
label.is-checkbox.is-danger {
  background: #ff3860;
}
label.is-checkbox.is-warning {
  background: #ffdd57;
  color: #363636;
}
label.is-checkbox.is-warning .checkmark:before {
  background: rgba(245, 245, 245, 0.8);
}
label.is-checkbox.is-success {
  background: #23d160;
}
label.is-checkbox.is-static {
  background-color: #f5f5f5;
  border-color: #dbdbdb;
  color: #7a7a7a;
  box-shadow: none;
  pointer-events: none;
}
label.is-checkbox.is-static .checkmark:before {
  background: rgba(122, 122, 122, 0.3);
}
label.is-checkbox.is-primary {
  background: #00d1b2;
}
label.is-checkbox .checkmark {
  color: transparent;
  position: relative;
}
label.is-checkbox .checkmark i {
  z-index: 1;
}
label.is-checkbox .checkmark:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 2px;
  background: rgba(54, 54, 54, 0.3);
  border: 1px solid rgba(54, 54, 54, 0.2);
}
label.is-checkbox input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}
label.is-checkbox input[type=checkbox]:checked ~ .checkmark {
  color: inherit;
}
label.is-checkbox.is-rounded {
  border-radius: 4px;
}
label.is-checkbox.is-rounded .checkmark:before {
  border-radius: 9999px;
}
label.is-checkbox:hover {
  box-shadow: inset 0px 0px 9999px rgba(0, 0, 0, 0.05);
}
label.is-checkbox:active {
  box-shadow: inset 0px 0px 9999px rgba(0, 0, 0, 0.1);
}
label.is-checkbox.is-small {
  font-size: 0.75rem;
  margin-bottom:2px;
}
label.is-checkbox.is-medium {
  font-size: 1.25rem;
}
label.is-checkbox.is-large {
  font-size: 1.5rem;
}
label.is-checkbox .icon, label.is-checkbox .icon.is-small, label.is-checkbox .icon.is-medium, label.is-checkbox .icon.is-large {
  height: 1.5em;
  width: 1.5em;
  margin-left: -0.35em;
  margin-right: 0.35em;
}
label.is-checkbox .icon:first-child:not(:last-child) {
  margin-right: 0.1875em;
  margin-left: calc(-01.375em - 1px);
}
label.is-checkbox .icon:last-child:not(:first-child) {
  margin-left: 0.1875em;
  margin-right: calc(-0.375em - 1px);
}
label.is-checkbox .icon:first-child:last-child {
  margin-left: calc(-0.575em - 1px);
}
