<module>
	<rawname>asterisk-cli</rawname>
	<repo>extended</repo>
	<name>Asterisk CLI</name>
	<version>2.11.0.3</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>Provides an interface allowing you to run a command as if it was typed into Asterisk CLI</description>
	<menuitems>
		<cli>Asterisk CLI</cli>
	</menuitems>
	<depends>
		<engine>asterisk</engine>
	</depends>
	<location>release/2.11/asterisk-cli-2.11.0.0.tgz</location>
	<md5sum>e575da7d4cc3a449e248bad57c66dcb5</md5sum>
	<changelog>
		*2.11.0.3* Initial Issabel Foundation release
	</changelog>
	<supported>
		<version>2.10</version>
	</supported>
</module>
