<module>
	<rawname>miscdests</rawname>
	<repo>extended</repo>
	<name>Misc Destinations</name>
	<version>2.11.0.4</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <category>Applications</category>
    <embedcategory>Internal Options &amp; Configuration</embedcategory>
	<description>Allows creating destinations that dial any local number (extensions, feature codes, outside phone numbers) that can be used by other modules (eg, IVR, time conditions) as a call destination.</description>
	<changelog>
		*2.11.0.4* Initial Issabel Foundation release
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
	</depends>
	<menuitems>
		<miscdests>Misc Destinations</miscdests>
	</menuitems>
	<popovers>
		<miscdests>
			<display>miscdests</display>
		</miscdests>
	</popovers>
	<location>release/2.11/miscdests-2.11.0.0.tgz</location>
	<md5sum>eebecd953f09ca3f1446dc14e6dda992</md5sum>
	<supported>
		<version>2.10</version>
	</supported>
</module>
