input.validation-error {
	border:2px solid red;
}
div.iax-errors {
	border:3px solid red;
	background-repeat: repeat-x;
}
div.iax-errors p {
	text-align:center;
	color:red;
	font-weight:bold;
	text-decoration:underline;
}
