<module>
	<rawname>weakpasswords</rawname>
	<repo>standard</repo>
	<name>Weak Password Detection</name>
	<version>2.12.0.0</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Reports</category>
    <changelog>
        *2.12.0.0* Newer GUI, standarize module components
		*2.11.0.1* Initial Issabel Foundation release
	</changelog>
	<depends>
		<version>2.12.0</version>
	</depends>
	<description>This module detects weak SIP secrets and sets security notifications accordingly
	</description>
	<supported>
		<version>2.12</version>
	</supported>
	<menuitems>
		<weakpasswords>Weak Password Detection</weakpasswords>
	</menuitems>
	<location>release/2.12/weakpasswords-2.12.0.0.tgz</location>
</module>
