<module>
	<rawname>asteriskinfo</rawname>
	<repo>standard</repo>
	<name>Asterisk Info</name>
	<version>2.11.0.89</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <category>Reports</category>
    <embedcategory>Advanced</embedcategory>
	<description>
		Provides a snapshot of the current Asterisk configuration
	</description>
	<menuitems>
		<asteriskinfo>Asterisk Info</asteriskinfo>
	</menuitems>
	<depends>
		<engine>asterisk</engine>
		<version>2.5.0rc3</version>
	</depends>
	<changelog>
		*2.11.0.9* Initial Issabel Foundation release
		*0.1.0* Initial release
	</changelog>
	<supported>
		<version>2.10</version>
	</supported>
	<location>release/2.11/asteriskinfo-2.11.0.2.tgz</location>
	<md5sum>7793bdb58d59c1c8f5e4926bac66ac63</md5sum>
</module>
