<module>
	<rawname>asteriskinfo</rawname>
	<repo>standard</repo>
	<name>Asterisk Info</name>
	<version>2.12.0.0</version>
	<publisher>Issabel Foundation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <category>Reports</category>
    <embedcategory>Advanced</embedcategory>
	<description>
		Provides a snapshot of the current Asterisk configuration
	</description>
	<menuitems>
		<asteriskinfo>Asterisk Info</asteriskinfo>
	</menuitems>
	<depends>
		<engine>asterisk</engine>
		<version>2.12.0</version>
	</depends>
    <changelog>
        *2.12.0.0* Newer GUI, standarize module components
		*2.11.0.9* Initial Issabel Foundation release
		*0.1.0* Initial release
	</changelog>
	<supported>
		<version>2.12</version>
	</supported>
    <location>release/2.12/asteriskinfo-2.12.0.0.tgz</location>
        <md5sum>0</md5sum>
</module>
