# Disallow all file access first
#
<FilesMatch "\..*$">
	Deny from all
</FilesMatch>

# Now allow /recordings, /recordings/index.php as well as the various assets
#
<FilesMatch "(^$|index\.php|play_page\.php|audio\.php|callme_page\.php|\.(gif|GIF|jpg|jpeg|png|css|js|ttf|svg|eot|woff|wav|mp3|aac|ogg|webm)$)">
	Allow from all
</FilesMatch>