<module>
    <rawname>recordings</rawname>
    <repo>standard</repo>
    <name>Recordings</name>
    <version>3.5.0.0</version>
    <publisher>Issabel Foundation</publisher>
    <license>GPLv3+</license>
    <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <canuninstall>no</canuninstall>
    <category>Admin</category>
    <embedcategory>Internal Options &amp; Configuration</embedcategory>
    <description>Creates and manages system recordings, used by many other modules (eg, IVR).</description>
    <changelog>
        *3.5.0.0* Newer GUI, standarize module components
        *3.4.0.4* Adds recording from browser
        *3.4.0.3* Initial Issabel Foundation release
    </changelog>
    <menuitems>
        <recordings>System Recordings</recordings>
    </menuitems>
    <depends>
       <module>framework ge 2.12.0.0</module>
    </depends>
    <supported>
        <version>2.12</version>
    </supported>
    <location>release/2.12/recordings-3.5.0.0.tgz</location>
        <md5sum>0</md5sum>
</module>
